<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <!--
      THIS IS THE FIX:
      This tells the system that your app intends to interact with
      other apps that can handle the ACTION_GET_CONTENT or
      ACTION_OPEN_DOCUMENT intents, like the system's file picker.
    -->
    <queries>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Code_zombom_app">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBKDwGbjNLMqiL7ep4MZn6hbjvS-lN1_cA"/>
<!--        Yes, I know it is unsafe, but I will delete this key in the future-->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Login.LoginActivity"/>
        <activity android:name=".Login.SignUp.SignUpActivity"/>
        <activity android:name=".Entrant.EntrantMainActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".FilterSortActivity"
            android:exported="false" />
        <activity android:name=".Entrant.EditProfile.EditProfileActivity"/>
        <activity android:name=".Login.SignUp.SignUpAddress.SignUpAddressActivity"/>
        <activity android:name=".Helpers.Location.EventHeatMapActivity"/>

    </application>

</manifest>
